# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
models/

# =========================
# Node.js
# =========================
node_modules/
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Supabase / Secrets
# =========================
*service_account*.json
